<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="osuEscape.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <osuEscape.Properties.Settings>
            <setting name="osuLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="isStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isToggleSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="soundVolume" serializeAs="String">
                <value>0</value>
            </setting>
        </osuEscape.Properties.Settings>
    </userSettings>
</configuration>