<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="osuEscape.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <osuEscape.Properties.Settings>
            <setting name="osuLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="isStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isSystemTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isToggleSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="appPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="isTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="refreshRate" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="isSubmitIfFC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isHideData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="submitAcc" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="isAutoDisconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="osuPath" serializeAs="String">
                <value />
            </setting>
            <setting name="isAPIKeyVerified" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalHotKey" serializeAs="String">
                <value>F6</value>
            </setting>
            <setting name="ModifierKeys" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isAllowConnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GHKText" serializeAs="String">
                <value>Global Toggle Hotkey:</value>
            </setting>
            <setting name="isCheckingFullCombo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isSnipeMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="snipedUser" serializeAs="String">
                <value />
            </setting>
            <setting name="client_secret" serializeAs="String">
                <value />
            </setting>
            <setting name="access_token" serializeAs="String">
                <value />
            </setting>
            <setting name="refresh_token" serializeAs="String">
                <value />
            </setting>
            <setting name="expires_in" serializeAs="String">
                <value />
            </setting>
        </osuEscape.Properties.Settings>
    </userSettings>
</configuration>